@import './variables.scss';

$themes: (
  2023: (
    main-color: #EDF4FA,
    menu-color: #303133,
    menu-icon-color: #8E98A4,
    menu-bg-color: #fff,
    menu-dark-color: mix(#000, $mainColorRed, 85%),
    menu-hover-color: #005DBE,
    menu-hover-bg-color: #e6eff9,
    menu-active-color: #005DBE,
    menu-active-before-bg-color: #EDF4FA,
    menu-active-bg-color: #EDF4FA,
    menu-active-subtitle-bg-color: #fff,
    menu-sidebar-icon: #303133,
    header-text-color: $textColor,
  ),
  red: (
    main-color: $mainColorRed,
    menu-color: #303133,
    menu-icon-color: #8E98A4,
    menu-bg-color: #fff,
    menu-dark-color: mix(#000, $mainColorRed, 85%),
    menu-hover-color: #8E98A4,
    menu-hover-bg-color: #e6eff9,
    menu-active-color: $mainColorRed,
    menu-active-before-bg-color: $mainColorRed,
    menu-active-bg-color: rgba($mainColorRed, 0.1),
    menu-active-subtitle-bg-color: #fff,
    menu-sidebar-icon: #303133,
    header-text-color: $textColor,
  ),
  blue: (
    main-color: $mainColorBlue,
    menu-color: #303133,
    menu-icon-color: #8E98A4,
    menu-bg-color: #fff,
    menu-dark-color: mix(#000, $mainColorBlue, 85%),
    menu-hover-color: #8E98A4,
    menu-hover-bg-color: #e6eff9,
    menu-active-color: $mainColorBlue,
    menu-active-before-bg-color: $mainColorBlue,
    menu-active-bg-color: rgba($mainColorBlue, 0.1),
    menu-active-subtitle-bg-color: #fff,
    menu-sidebar-icon: #303133,
    header-text-color: $textColor,
  ),
  dark: (
    main-color: #212121,
    menu-color: #fff,
    menu-icon-color: #8E98A4,
    menu-bg-color: #3d3d3d,
    menu-dark-color: mix(#000, #3d3d3d, 85%),
    menu-hover-color: #fff,
    menu-hover-bg-color: mix(#fff, #3d3d3d, 15%),
    menu-active-color: #fff,
    menu-active-before-bg-color: #636363,
    menu-active-bg-color: #636363,
    menu-active-subtitle-bg-color: #005DBE,
    menu-sidebar-icon: #fff,
    header-text-color: $textColor,
  )
);
