$mainColorRed: #e1251b;
$mainColorBlue: #005DBE;
$sideBarWidth: 200px;
$sideBarMiniWidth: 54px;
$navHeight: 56px;
$menuTitle: #999999;
$headerColor: #EDF4FA;
$mainbgColor: #f0f2f5;
$textColor: rgba(0, 0, 0, 0.85);
$deleteColor: #fe2525;
